.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    background-color: #1dbc28;
}

.icon{
    width: 150px;
    height: 150px;
}

.navContainer{
    margin-right: 100px;
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}

.contacto{
    font-size: 24px;
}

.navButton{
    width: 50px;
    display: flex;
    gap: 15px;
    color: #fff;
    cursor: pointer;
}