@import url('https://fonts.cdnfonts.com/css/tamworth-gothic');

.link {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; /* Cambio: coloca el navbar en la parte superior */
  left: 0; /* Cambio: ajusta el margen izquierdo si es necesario */
  right: 0; /* Cambio: ajusta el margen derecho si es necesario */
  height: 50px;
  background-color: #39be42;
}

.navContainer {
  width: 100%;
  max-width: 1366px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box; /* Nueva línea */
  overflow: hidden; /* Nueva línea */
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.logoText {
  margin-left: 50px;
  width: 30px;
  font-family: 'Tamworth Gothic', sans-serif;
  color: white;
  font-size: 28px;
}

.iconWsp {
  font-size: 40px; /* Ajusta el tamaño de fuente a un valor razonable */
}
.contacto {
  font-size: 28px;
}

.contacto1 {
  font-size: 28px;
}

.contacto2 {
  font-size: 28px;
  margin-right: 50px;
}

.navButton {
  width: 50px;
  display: flex;
  gap: 15px;
  color: #fff;
  cursor: pointer;
}

.navLink {
  color: white;
}

.navLoginButton {
  border-radius: 10px;
  border: none;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: #002aff;
}

.navLoginButton:hover {
  background-color: #1c5aea;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; /* Cambio: coloca el navbar en la parte superior */
    left: 0; /* Cambio: ajusta el margen izquierdo si es necesario */
    right: 0; /* Cambio: ajusta el margen derecho si es necesario */
    height: 35px;
    background-color: #39be42;
  }

  .navContainer {
    padding: 0; /* Ajusta el espaciado interno si es necesario */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .navItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    flex-wrap: wrap;
  }

  .logoText {
    margin-left: 15px;
    font-size: 12px; /* Ajusta el tamaño de fuente del logo */
  }

  .navButton {
    gap: 10px;
  }
  
  .contacto {
    font-size: 12px;
  }
  
  .contacto1 {
    font-size: 12px;
  }
  
  .contacto2 {
    font-size: 12px;
    margin-right: 15px;
  }

  
}
