.header {
    background-color: white;
    color: #002aff;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  
  .headerContainer {
    width: 100%;
    max-width: 1080px;
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
  }
  
  .headerList {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerListItem.active {
    border: 1px solid #2879fe;
    padding: 10px;
    border-radius: 20px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .headerList {
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .headerListItem {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .headLink{
    color: #002aff;
  }

  .hListIcon{
    color: #002aff;
  }