.aboutContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 265px;
}

.aboutCard {
  flex: 1 0 100%;
  max-width: 350px;
  background-color: #f4f4f4;
  padding: 10px;
  color: green;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #39be42;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 30px 25px 10px rgba(0, 0, 0, 0.272);
  transition: transform 0.3s ease;
  text-align: center;
}

.aboutCard:hover {
  transform: translateY(-10px);
}

.aboutCardCorreo{
  flex: 1 0 100%;
  max-width: 350px;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #39be42;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 30px 25px 10px rgba(0, 0, 0, 0.272);
  transition: transform 0.3s ease;
  text-align: center;
  color: green;
}

.aboutCardCorreo:hover {
  transform: translateY(-10px);
}

.aboutTitle {
  font-size: 24px;
  color: #002aff;
}

.aboutCard p {
  margin-top: 1em;
  margin-bottom: 1px;
}

@media (max-width: 768px) {
  .aboutContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 400px;
  }

  .aboutCard {
    max-width: 400px;
  }
}

.aboutCardCorreo p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1600px) {
  .aboutContainer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    width: 450px;
  }
  
}