#root {
  max-width: 1920px;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}


@media (max-width: 1920px) {
  #root {
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  #root {
    max-width: 100%;
  }

}

@font-face {
  font-family: 'slick';
  src: url('../fonts/slick.woff') format('woff'),
       url('../fonts/slick.ttf') format('truetype');
}
