#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  
}

@media (max-width: 1920px) {
  #root {
    max-width: 100%;
  }
}

@font-face {
  font-family: 'slick';
  src: url('../fonts/slick.woff') format('woff'),
       url('../fonts/slick.ttf') format('truetype');
  /* Resto de los estilos de la fuente */
}
