.footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .rrss {
    margin-right: 10px;
  }
  
  .fLink {
    color: #002aff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .logoImg {
    width: 200px;
    height: auto;
  }

  .igLogo {
    width: 38px;
    height: auto;
  }
  
  .footerCopyright {
    margin-top: 20px;
    font-size: 16px;
    color: #002aff;
  }
  