.navigation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 22px;
}

.category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #002aff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.category-card:hover {
  transform: scale(1.1);
  background-color: #e0e0e0;
  color: #002aff;
  border: #002aff 2px solid;
}

.category-card.active {
  background-color: #39be42;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.serv-card {
  width: calc(33.33% - 5rem);
  /* El 2rem es el espacio entre las tarjetas */
  background-color: #39be42;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.serv-card-content h3{
  font-size: 24px;
}

.serv-card-content p{
  font-size: 20px;
}

.serv-card:hover {
  transform: scale(1.1);
  background-color: #e0e0e0;
  color: #002aff;
}

.serv-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.serv-card-img {
  width: 90%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.description {
  font-size: 24px;
}

.servicio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 36px;
}

.footer {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .serv-card {
    width: calc(50% - 2rem);
    /* Ajusta el ancho para dispositivos de pantalla más pequeña */
  }

  .categories {
    justify-content: center; /* Centra los botones horizontalmente */
  }

  .category-card {
    width: 150px; /* Ajusta el ancho para dispositivos de pantalla más pequeña */
    font-size: 18px; /* Ajusta el tamaño de fuente para dispositivos de pantalla más pequeña */
  }

}

@media screen and (max-width: 576px) {
  .serv-card {
    width: 100%;
    /* Ajusta el ancho para dispositivos móviles */
  }

  .category-card {
    width: 100px; /* Ajusta el ancho para dispositivos de pantalla más pequeña */
    font-size: 14px; /* Ajusta el tamaño de fuente para dispositivos de pantalla más pequeña */
  }
}