@import url('https://fonts.cdnfonts.com/css/coolvetica-2');


.resFormContainer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    font-size: 24px;
    color: #0053d7;
    position: fixed;
    margin-top: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 960px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }

.resFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.resForm{
    font-family: 'Coolvetica', sans-serif;                                        
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: 60px 0px 0px 100px;
    padding: 20px;
    border-radius: 20px;
    background: ;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
label{
    margin-bottom: 10px;
  }

.resFormInput{
    background-color: #9ca69a;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px;
  }

.formButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    background: #0053d7;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

